{% extends 'base.html'%}
{% load static %}
{%block title%}Scc Questions{% endblock %}
 {% block content%}
<div class="row mt-3">
     <ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{%url 'quiz1' %}">SCC</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">UPSC</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">Banking</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">Railway</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">Liboratory</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">Technical-Pros.</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'quiz1' %}">PSC</a>
  </li>
</ul>

</div>
<br>
<h4 class="mt-3">SCC Questions of Previous Years</h4>

<br>
<div class="row q mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-10 mt-2">
         {% for q in quiz1%}
        <div class="mt-2">
        <table>
            <tr>
                <td class="">{{q.id}} ) :{{q.ques}}</td>
            </tr>
            <tr>
              <td>
                  <input type="radio" class="rb" name={{q.id}} id="op1" value="{{i.op1}}"> {{q.op1}}
              </td>
            </tr>
            <tr>
                <td>
                  <input type="radio" class="rb" name={{q.id}} id="op2" value="{{i.op2}}"> {{q.op2}}
              </td>
            </tr>
            <tr>
                <td>
                  <input type="radio" class="rb" name={{q.id}} id="op3" value="{{i.op3}}"> {{q.op3}}
              </td>
            </tr>
            <tr>
                <td>
                  <input type="radio" class="rb" name={{q.id}} id="op4" value="{{i.op4}}"> {{q.op4}}
              </td>
            </tr>
            <tr>
               <td><a href="">
                   <label id="cr" class="rb" style="display:none;color:green">Answer is :<b class="text-success">{{q.correct}}</b></label>
               show answer</a>
               </td>
            </tr>
        </table>
            {%endfor%}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{%endblock%}